/* ------------------------ All CSS media queries ------------------------------- */

/*MOBILE MEDIA SCREEN*/
@media only screen and (max-width: 414px) {

    /* This styles present the main container, which groups all the HTML tags */
    .main-box {
        border: 1px solid #cccccc;
        border-collapse: collapse;
        width: 300px;
    }

    /* This styles presents the firs and main image, presents the IndenizeViagens logo*/
    .img-indenizeviagens {
        width: 150px;
        height: 115px;
    }

    /* This styles presents the first and main title*/
    .return-contact {
        /* THE FIRST SUBTITLE*/
        color: #ffffff;
        font-family: Arial, sans-serif;
        font-size: 10px;
        padding: 5px 1px 5px 1px;
        border-radius: 5px;
    }

    .text-1 {
        /* THE TEXT BELOW THE FIRST SUBTITLE*/
        padding: 5px 0 15px 0;
        color: #636363;
        font-family: Arial, sans-serif;
        font-size: 8px;
        line-height: 10px;
        text-align: justify;
    }

    .img-icons-1,
    .img-icons-2 {
        /* Icons img below the text-1*/
        width: 64px;
        height: 64px;
        position: relative;
        left: 40px;
        display: block;
    }

    .text-2,
    .text-3 {
        /* Text below the Img Icons*/
        padding: 10px 0 0 0;
        color: #636363;
        font-family: Arial, sans-serif;
        font-size: 8px;
        line-height: 10px;
        text-align: center;
    }

    /* This styles present the phrase " don't answer, that's a auto-email" */
    .do-not-answer,
    .do-not-answer-1 {
        text-align-last: center;
        color: #a0a0a0;
        font-size: 8px;
    }

    /*All styles about Footer section*/
    .footer {
        color: #ffffff;
        font-family: Arial, sans-serif;
        font-size: 8px;
        width: 75%;

    }
}

/* 
      This's owned by Indenize Viagens business, this's my business,
      do not use it commercially or otherwise to make money without sending us a message.
      Any inappropriate use of this will result in serious consequences.
      I'm making this file public for student use of the code.

      by Lucas Arifa, landlord of IndenizeViagens Business

*/
/*TABLETS MEDIA SCREEN*/
@media only screen and (max-width: 768px) and (min-width: 414px) {
    .main-box {
        border: 1px solid #cccccc;
        border-collapse: collapse;
        width: 354px;
    }

    .return-contact {

        color: #ffffff;
        font-family: Arial, sans-serif;
        font-size: 15px;
        padding: 5px;
        border-radius: 5px;
    }

    .text-1 {

        padding: 15px 0 20px 0;
        color: #636363;
        font-family: Arial, sans-serif;
        font-size: 10px;
        line-height: 15px;
        text-align: justify;
    }

    .img-icons-1,
    .img-icons-2 {
        width: 100px;
        height: 100px;
        position: relative;
        left: 50px;
        display: block;
    }

    .text-2,
    .text-3 {
        padding: 10px 0 0 0;
        color: #636363;
        font-family: Arial, sans-serif;
        font-size: 10px;
        line-height: 15px;
        text-align: justify;
    }

    .vertical-line {
        position: relative;
        padding: 10px;
    }

    .do-not-answer {
        text-align-last: center;
        color: #a0a0a0;
        font-size: 10px;
    }

    .do-not-answer-1 {
        text-align-last: center;
        color: #a0a0a0;
        font-size: small;
    }

    .footer {
        color: #ffffff;
        font-family: Arial, sans-serif;
        font-size: 10px;
        width: 75%;

    }
}

/* 
      This's owned by Indenize Viagens business, this's my business,
      do not use it commercially or otherwise to make money without sending us a message.
      Any inappropriate use of this will result in serious consequences.
      I'm making this file public for student use of the code.

      by Lucas Arifa, landlord of IndenizeViagens Business

*/
/*DESKTOP AND SO ON*/
@media only screen and (min-width: 768px) {
    .main-box {
        border: 1px solid #cccccc;
        border-collapse: collapse;
        width: 600px;
    }

    .return-contact {
        /* THE FIRST SUBTITLE*/
        color: #ffffff;
        font-family: Arial, sans-serif;
        font-size: 24px;
        text-shadow: #000000;
        padding: 10px;
        border-radius: 10px;
    }

    .text-1 {
        /* THE TEXT BELOW THE FIRST SUBTITLE*/
        padding: 20px 0 30px 0;
        color: #636363;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 20px;
        text-align: justify;
    }

    .img-icons-1,
    .img-icons-2 {
        /*Icons img below the text-1*/
        width: 128px;
        height: 128px;
        position: relative;
        left: 80px;
        display: block;
    }

    .text-2,
    .text-3 {
        /* Text below the Img Icons*/
        padding: 25px 0 0 0;
        color: #636363;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }

    .do-not-answer {
        text-align-last: center;
        color: #a0a0a0;
        font-size: 10px;
    }

    .do-not-answer-1 {
        text-align-last: center;
        color: #a0a0a0;
        font-size: small;
    }

    .footer {
        color: #ffffff;
        font-family: Arial, sans-serif;
        font-size: 14px;
        width: 75%;

    }
}

/* 
      This's owned by Indenize Viagens business, this's my business,
      do not use it commercially or otherwise to make money without sending us a message.
      Any inappropriate use of this will result in serious consequences.
      I'm making this file public for student use of the code.

      by Lucas Arifa, landlord of IndenizeViagens Business
*/
